@page "/"

<PageTitle>Home</PageTitle>
    
<div role="navigation" class="navbar navbar-expand-lg position-sticky m-1" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#Home" style="color:#AEC6CF">AC</a>
        <ul class="navbar-nav ">
            <li class="nav-item"><a class="nav-link active" aria-current="page" style="color:#AEC6CF">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#About" style="color:#AEC6CF">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#" style="color:#AEC6CF">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="#" style="color:#AEC6CF">Contact</a></li>
          
        </ul>
    </div>
</div>

<div id="About" class="modal-body row m-4">
    <div class="col-md-6">
        <h5 style="color:#bbeff6">C#/CSharp Software Developer</h5>
        <br />
        <h1 style="color:#CFB7AE">Anthony Cubillas</h1>
       
       <p>
           Finding effecient solutions to resolvable issues.
       </p>
       <br />

       <p>
           Software developer focused on producing warehouse solutions with Csharp based tools. Experience in back-office and client-facing environments. Creating tools to enhancement and improve day-to-day functions in workplace and out.
       </p>
    </div>
    <div class="col-md-6">
        <img src="https://picsum.photos/seed/picsum/200/300" height="600" />
    </div>

    


    
</div>







