@page "/"

<PageTitle>Home</PageTitle>
<nav role="navigation" class="navbar navbar-expand-lg position-sticky">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AC</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>        
          
        </ul>
    </div>
</nav>







<h1>Hello, world!</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut fringilla purus, non aliquet lacus. Donec efficitur gravida sem id varius. Aliquam erat volutpat. Mauris pharetra, ex non posuere sagittis, leo sem aliquet dolor, sed ornare orci mi id sapien. Duis vel diam et neque gravida bibendum eget elementum orci. In vel lorem feugiat, efficitur erat quis, luctus ligula. Maecenas eu nisi in turpis mollis cursus non et elit. Nullam a facilisis dui, in consectetur dolor. Praesent quis eros ut massa ullamcorper iaculis. In elementum lobortis lacus, a convallis urna cursus eget. Sed vitae cursus tortor, non venenatis tellus. Nulla posuere hendrerit odio, et tincidunt diam ullamcorper nec. Aliquam maximus tincidunt eros, non ullamcorper orci porttitor eget.

    Quisque aliquam tincidunt venenatis. Maecenas non accumsan enim. Sed aliquam ut lacus vitae blandit. Donec ipsum justo, ullamcorper eget mauris vitae, porttitor convallis lorem. Maecenas fringilla cursus erat vitae fringilla. Ut sollicitudin volutpat eros sed porttitor. Vestibulum lacus turpis, facilisis sed aliquet suscipit, accumsan quis ligula. Nunc et dictum mi. Vivamus dolor velit, consectetur quis varius id, vehicula et eros. Sed mattis eu tortor non varius. Duis at massa eget arcu scelerisque iaculis ac et elit. Ut auctor bibendum congue. Aliquam vestibulum lectus quis magna bibendum, vitae commodo mauris ultrices. In at fermentum enim. Mauris sed ligula mauris.

    Proin eu rhoncus odio. Nunc nisl purus, malesuada sed egestas in, pulvinar id enim. Aliquam sed orci vel velit eleifend pretium. Praesent pellentesque malesuada quam, vitae auctor felis pellentesque sit amet. Fusce sit amet quam vitae tellus luctus commodo. Vestibulum scelerisque dolor in ex tincidunt, eget scelerisque ligula fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean et varius quam. Curabitur ultricies ex lectus, semper tristique erat venenatis scelerisque. Etiam pellentesque feugiat dapibus. Curabitur purus massa, venenatis ut ligula et, placerat molestie dolor. Aenean ac purus at tortor eleifend maximus vel ultricies enim.

    Nulla eu auctor nulla. Fusce volutpat erat at neque lacinia, vel dignissim sapien varius. Proin gravida nec dolor sit amet accumsan. Quisque velit ante, consequat ornare mi nec, vestibulum hendrerit urna. Proin at cursus diam. Ut ut risus felis. Quisque non auctor lacus. Aliquam eros orci, maximus molestie placerat et, varius sit amet ligula. Suspendisse pellentesque efficitur commodo. Duis ac mollis tellus.

    Sed porttitor varius felis a convallis. Pellentesque pharetra pellentesque turpis id ullamcorper. Nunc imperdiet ligula ipsum, vitae efficitur nulla interdum ut. Mauris ut velit vel enim molestie ultricies convallis a elit. Etiam mollis, velit at venenatis semper, lorem eros finibus lorem, tincidunt tristique erat arcu pretium leo. Curabitur pretium ipsum eget metus faucibus, vel gravida nunc dictum. Mauris mattis lorem condimentum lorem tempor maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut fringilla purus, non aliquet lacus. Donec efficitur gravida sem id varius. Aliquam erat volutpat. Mauris pharetra, ex non posuere sagittis, leo sem aliquet dolor, sed ornare orci mi id sapien. Duis vel diam et neque gravida bibendum eget elementum orci. In vel lorem feugiat, efficitur erat quis, luctus ligula. Maecenas eu nisi in turpis mollis cursus non et elit. Nullam a facilisis dui, in consectetur dolor. Praesent quis eros ut massa ullamcorper iaculis. In elementum lobortis lacus, a convallis urna cursus eget. Sed vitae cursus tortor, non venenatis tellus. Nulla posuere hendrerit odio, et tincidunt diam ullamcorper nec. Aliquam maximus tincidunt eros, non ullamcorper orci porttitor eget.

    Quisque aliquam tincidunt venenatis. Maecenas non accumsan enim. Sed aliquam ut lacus vitae blandit. Donec ipsum justo, ullamcorper eget mauris vitae, porttitor convallis lorem. Maecenas fringilla cursus erat vitae fringilla. Ut sollicitudin volutpat eros sed porttitor. Vestibulum lacus turpis, facilisis sed aliquet suscipit, accumsan quis ligula. Nunc et dictum mi. Vivamus dolor velit, consectetur quis varius id, vehicula et eros. Sed mattis eu tortor non varius. Duis at massa eget arcu scelerisque iaculis ac et elit. Ut auctor bibendum congue. Aliquam vestibulum lectus quis magna bibendum, vitae commodo mauris ultrices. In at fermentum enim. Mauris sed ligula mauris.

    Proin eu rhoncus odio. Nunc nisl purus, malesuada sed egestas in, pulvinar id enim. Aliquam sed orci vel velit eleifend pretium. Praesent pellentesque malesuada quam, vitae auctor felis pellentesque sit amet. Fusce sit amet quam vitae tellus luctus commodo. Vestibulum scelerisque dolor in ex tincidunt, eget scelerisque ligula fermentum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean et varius quam. Curabitur ultricies ex lectus, semper tristique erat venenatis scelerisque. Etiam pellentesque feugiat dapibus. Curabitur purus massa, venenatis ut ligula et, placerat molestie dolor. Aenean ac purus at tortor eleifend maximus vel ultricies enim.

    Nulla eu auctor nulla. Fusce volutpat erat at neque lacinia, vel dignissim sapien varius. Proin gravida nec dolor sit amet accumsan. Quisque velit ante, consequat ornare mi nec, vestibulum hendrerit urna. Proin at cursus diam. Ut ut risus felis. Quisque non auctor lacus. Aliquam eros orci, maximus molestie placerat et, varius sit amet ligula. Suspendisse pellentesque efficitur commodo. Duis ac mollis tellus.

    Sed porttitor varius felis a convallis. Pellentesque pharetra pellentesque turpis id ullamcorper. Nunc imperdiet ligula ipsum, vitae efficitur nulla interdum ut. Mauris ut velit vel enim molestie ultricies convallis a elit. Etiam mollis, velit at venenatis semper, lorem eros finibus lorem, tincidunt tristique erat arcu pretium leo. Curabitur pretium ipsum eget metus faucibus, vel gravida nunc dictum. Mauris mattis lorem condimentum lorem tempor maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
</p>







